<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMEEView1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LineDrawTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DMEEView1.Properties.Settings>
            <setting name="fileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="fileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_Margins" serializeAs="String">
                <value>25, 25, 25, 25</value>
            </setting>
            <setting name="landscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pinsColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="linesColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="wiresColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="showPins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Print_in_color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Draw_in_color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintFitToPage" serializeAs="String">
                <value>False</value>
            </setting>
        </DMEEView1.Properties.Settings>
        <LineDrawTest.Properties.Settings>
            <setting name="FNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </LineDrawTest.Properties.Settings>
    </userSettings>
</configuration>